<div class="checkboxContainer formSection">                            
    <span class="form-label">*Sex</span>
    <div class="checkboxes check-form-control">
        <label class="sexOption">
            
            <input type="checkbox" class="check" ng-model="sex.male">&nbsp;
            MALE
        </label>
        <br>
        <label class="sexOption">
            <input type="checkbox"  class="check" ng-model="sex.female"> FEMALE
        </label>
       

    </div>                                                        
</div>