<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Economic Burden of Chronic Disease in California - About</title>
    <link rel="stylesheet" href="/css/aboutus.css" />
</head>

<body>
<article layout:fragment="content" class="faq bodyLeftMargin">
    <a href="/app" class="getStartedButton"><button class="btn btn-lg btn-primary">Click here to Begin</button></a>
    <div class="aboutUstitle">About Us</div>
    <p>The project was led by <a href="https://sites.ucmerced.edu/pbrown3" target="_blank">Paul Brown</a>, <a href="http://www.gonzalezm.net/" target="_blank">Mariaelena Gonzalez</a>, Ritem Sandhu, Pam Sheng, and UC Merced Information Technology. The site was developed by UC Merced with funding from the California Healthcare Foundation. </p>
    <p>Recent evidence suggests that, nationwide, more than half of Americans suffer from one or more chronic diseases, with the cost of treating these conditions expected to increase from $1 trillion annually to nearly $6 trillion by 2050. Each year millions of people are diagnosed with chronic disease, and millions more die from their condition. Reducing the rates of chronic conditions and bending the cost curve will require concerted programs to prevent chronic diseases from occurring and control the conditions once they do occur. </p>
    <p>The advent of the Affordable Care Act (ACA) provides an opportunity to address these challenges. As more people are covered by some form of health insurance, there is an opportunity to expand prevention services, especially to vulnerable and at-risk populations. This expansion will require increased planning and organization, particularly from local public health departments. While there is great deal of information currently available at the local level about chronic conditions, additional information is needed to help guide prevention and control efforts.</p>
    <p>Information on the economic cost of chronic conditions is important for planning prevention and control efforts. Information on the direct costs of chronic illness, including the medical resources used to treat avoidable illness and productivity losses, provide information on the amount that could be saved if chronic conditions were prevented or controlled. This allows state and local public health departments to calculate their implicit return from investing in prevention and control efforts, and to identify which conditions they should focus on, in which areas, and for which populations. In short, information on the economic burden of chronic conditions at the local level provides policy makers with information needed to develop interventions and prevention programs.</p>
    <p>UC Merced was established in the San Joaquin Valley in part to address the health disparities that exist in the region. Part of this mission involves providing local decision makers with the information they need to make informed decisions. The information provided on this webpage is intended to assist and inform, county officials, researchers, members of the public, and community organizations.</p>
</article>
</body>
</html>
